
<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let prod of productList">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src={{prod.productImg}} alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href = "products/view-product/{{prod.id}}">{{ prod.productName}}</a>
        </h4>
        <h5>${{prod.price}}</h5>
        <p class="card-text">{{prod.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{prod.rating}}</small>
      </div>
    </div>
  </div>
  </div>


<!-- /.row -->
