<div class="card mt-4" *ngFor="let product of productList">
  <img class="col-lg-4 col-md-6 mb-4" src="{{product.productImg}}" alt="">
  <div class="card-body">
    <h3 class="card-title">{{product.productName}}</h3>
    <a href="products/update-product/{{product.id}}" >Edit Product</a>  |
    <a href="products/delete-product/{{product.id}}" >Delete Product</a>
    <h4>${{product.price}}</h4>
    <p class="card-text">{{product.description}}</p>
    <span class="text-warning">{{product.rating}}</span>

  </div>
</div>
<!-- /.card -->

<div class="card card-outline-secondary my-4">
  <div class="card-header">
    Product Reviews
  </div>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
    <hr>
    <a href="#" class="btn btn-success">Leave a Review</a>
  </div>
</div>
<!-- /.card -->
